{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          3티어
        </button>
        <button
          type="button"
          class="btn btn-warning btn-rounded"
          data-mdb-ripple-color="dark"
        >
          가시멧돼지
        </button>
          <button
          type="button"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          나가
        </button>



      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[죽음예언자 블랙쏜]</h4>
          <img src="/static/images/heros/blackthorn/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/blackthorn/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 내가 밥의 선술집을 강화한 후에 <br> 혈석을 2개 얻습니다. </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>선술집 강화 때 혈설을 2개씩 주므로 가시멧돼지와 잘 어울리는 영웅입니다.</p>
            <p>혈석 자체가 주문이기 때문에 나가의 아티사와 어스름투사와도 잘 어울립니다.</p>
            <hr />
             <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 순수가멧]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/boar/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/boar/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/six.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 쏜커스]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/boar/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/boar/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/hsix.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 나가]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/naga/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/naga/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/six.png" alt=""  class="infoimg"/>
            </div>



          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 레벨업 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매 </p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매</p>
          <p> ▶ 7턴 (9마나) : 레벨업 + 하수인 구매  </p>



          <p>가시멧돼지로 간다면 뾰족털 투사에게 초반부터 혈석을 공급 할 수 있습니다.  </p>
            <p>현재는 나가의 아티사가 최종적인 덱으로 많이 채택되고 있습니다.  </p>





        </div>
      </div>
    </section>

{% endblock %}