{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          3티어
        </button>
        <button
          type="button"
          class="btn btn-primary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          멀록
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[공룡조련사 브란]</h4>
          <img src="/static/images/heros/bran/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/bran/power.png" alt="" style="width: 4rem" />


            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 내가 전투의 함성 하수인을 5번 산후에, <br> 브란 브론즈비어드를 내손으로 가져옵니다. <br>  </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>초반에 전투의 함성 하수인을 모두 사주며 빠르게 브란을 가져오는것이 좋습니다</p>
            <p>브란을 얻은 후에는 멀록으로 필드를 탄탄하게 구성합니다.</p>


            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/marlok/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/marlok/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/marlok/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/marlok/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/marlok/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/marlok/six.png" alt=""  class="infoimg"/>
            </div>


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 (전투의 함성) </p>
          <p> ▶ 2턴 (4마나) : 하수인 구매 (전투의 함성) + 리롤 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 (전투의 함성) + 하수인 구매 (전투의 함성) </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 레벨업 </p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 (멀록)  </p>
          <p> ▶ 7턴 (9마나) : 레벨업 + 영웅능력 사용 </p>
          <br>
          <p> 초반에 전투의 함성을 찾으면서 하수인을 구매해 줍니다. </p>
          <p> 브란이 나온 직후에는 멀록 하수인을 구매해 줍니다. </p>
          <p> 레벨업과 하수인 구매는 골드 상황에 따라 유동적으로 가져갈 수 있습니다. </p>

        </div>
      </div>
    </section>

{% endblock %}