{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          5티어
        </button>
        <button
          type="button"
          class="btn btn-dark btn-rounded"
          data-mdb-ripple-color="dark"
        >
          혼합
        </button>



      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[크툰]</h4>
          <img src="/static/images/heros/ctun/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/ctun/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 내턴이 끝날때, 하수인에게 +1/+1 을 부여합니다 n번 반복합니다 <br> 사용할때마다 강화합니다 . </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>영웅능력을 사용하면 사용할수록 강화되는 영웅입니다.</p>
            <p>히드라, 전투절단기 같은 하수인에 부여되면 좋습니다.</p>
            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 초반부터 가지고 있을 만한 하수인]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/ctun/info/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ctun/info/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/heros/ctun/info/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/heros/ctun/info/four.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 쏜커스]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/boar/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/boar/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/hsix.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 혼합]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/mix/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/mix/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mix/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mix/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mix/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mix/six.png" alt=""  class="infoimg"/>
            </div>


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 오색날개 라면 하수인구매 / 그외 영웅능력 사용 </p>
          <p> ▶ 2턴 (4마나) : 토큰 하수인 나오면 구매 후 영웅능력 사용 / 그 외 영웅능력 사용</p>
          <p> ▶ 3턴 (5마나) : 레벨업 + 영웅능력 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 영웅능력 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 영웅능력 사용 </p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매 + 영웅능력 사용</p>
          <p> ▶ 7턴 (9마나) : 레벨업 + 하수인 구매  </p>



          <p> 토큰 하수인을 이용하여 하수인을 구매하면서도 영웅능력을 쉬지않고 쓰면 좋습니다. </p>
            <p> 천상의 보호막을 지닌 하수인 위주로 버프를 부여합니다.</p>




        </div>
      </div>
    </section>

{% endblock %}