{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-warning btn-rounded"
          data-mdb-ripple-color="dark"
        >
          2티어
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          나가
        </button>




      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[실라스 다크문]</h4>
          <img src="/static/images/heros/darkmoon/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/darkmoon/power.png" alt="" style="width: 4rem" />


            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 다크문 입장권이 선술집에 등장합니다! <br> 3장을 모으면 내 선술집 단계의 하수인을 발견합니다. <br>  </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>쿠키, 돌풍날개 등과 비슷한 영웅입니다.</p>

            <p>토큰 하수인 or 선상도박꾼에 입장권이 붙어 나온다면 구매해줍니다.</p>
            <p>최대한 발견을 많이 보는 것이 좋습니다.</p>


            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 나가]</h5>
            <div style="margin-bottom: 2rem;">
           <img src="/static/images/heros/tess/info/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/two.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/thr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/our.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/f.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/s.png" alt=""  class="infoimg"/>
            </div>




          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 레벨업 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매</p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매 </p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 7턴 (9마나) : 레벨업 + 하수인 구매 </p>

          <br>
          <p> 높은 등급의 하수인이 어떤 것이 나오냐에 따라 달라지지만 현재는 나가 종족을 추천합니다.  </p>
            <p> 최대한 입장권 있는 하수인들을 구매하며 발견을 많이 보는 것이 좋습니다.  </p>




        </div>
      </div>
    </section>

{% endblock %}