{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-info btn-rounded"
          data-mdb-ripple-color="dark"
        >
          4티어
        </button>
        <button
          type="button"
          class="btn btn-info btn-rounded"
          data-mdb-ripple-color="dark"
        >
          기계
        </button>
        <button
          type="button"
          class="btn btn-warning btn-rounded"
          data-mdb-ripple-color="dark"
        >
          가시멧돼지
        </button>
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          야수
        </button>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[데스윙]</h4>
          <img src="/static/images/heros/deathwing/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/deathwing/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 모든 하수인이 공격력을 +2 얻습니다.</div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>소환수가 많으면 유리한 영웅입니다.</p>
            <p>기계 + 가시멧돼지 or 야수 종족이 순방하기 좋은 조합입니다.</p>
            <hr />
             <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 기계 + 가시멧돼지]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/george/info/mone.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mtwo.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mthr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mfour.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mfive.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/msix.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 개구리]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/beast/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/beast/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/six.png" alt=""  class="infoimg"/>
            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 레벨업 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매  </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 +  하수인 구매 </p>
             <p> ▶ 6턴 (8마나) : 하수인 구매 +  하수인 구매 </p>
             <p> ▶ 7턴 (9마나) : 레벨업 +  하수인 구매 </p>

          <p>  정상 마나커브로 운영하며 만약 황금카드가 풀린다면 5렙 발견을 통해 엄마곰을 찾는것이 좋습니다.  </p>
          <p> 엄마곰 + 쥐떼에 큰 힘을 발휘하며 순방확률이 올라갑니다. </p>

        </div>
      </div>
    </section>

{% endblock %}