{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-danger btn-rounded"
          data-mdb-ripple-color="dark"
        >
          1티어
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          나가
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[여왕 이즈샤라]</h4>
          <img src="/static/images/heros/ezshra/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/ezshra/powerone.png" alt="" style="width: 4rem" />
          <img src="/static/images/heros/ezshra/powertwo.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 내 전장에 있는 하수인들의 <br> 공격력의 합이 30에 도달하면, <br> 나가의 정복을 시작합니다. <br><br>  [퀘스트 완료] <br> 나가를 발견합니다.  </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>나가 동시에 출시된 영웅입니다.</p>
            <p>나가 종족 메인으로 가는 영웅입니다. 나가 종족이 너프 먹기 전 까지 1티어를 유지할 듯 합니다.</p>
            <p>나가 종족을 구매하며 빌드업 합니다. </p>
            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/ezshra/info/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/two.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/thr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/our.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/fou.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/s.png" alt=""  class="infoimg"/>
            </div>


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 (미니 미르미돈 / 오색날개 추천!) </p>
          <p> ▶ 2턴 (4마나) : 레벨업 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 후 팔기 + 하수인 구매 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매 </p>
          <p> ▶ 6턴 (8마나) : 레벨업 or 나가 종족 하수인 구매 </p>
          <p> ▶ 7턴 (9마나) : 레벨업 or 나가 종족 하수인 구매 </p>
          <br>
          <p> 선술집 구매 목록에 좋은 나가 하수인이 없다면 빠르게 5레벨을 달립니다.  </p>
          <p> 용암 잠복꾼을 빠르게 찾고 주문 제작 나가 하수인을 찾아 빌드업합니다. </p>

        </div>
      </div>
    </section>

{% endblock %}