{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          3티어
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          나가
        </button>



      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[핀리 므르믈턴경]</h4>
          <img src="/static/images/heros/finley/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/finley/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 게임이 시작될 때, 영웅 능력을 발견합니다 . </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>처음 4개의 영웅 중 맘에드는 영웅이 없을때 골라서 한번 더 선택할 수 있습니다.</p>
            <p>후에 선택한 하수인과 일치하기에 그 하수인의 공략으로 가시면 됩니다.</p>





        </div>
      </div>
    </section>

{% endblock %}