{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-warning btn-rounded"
          data-mdb-ripple-color="dark"
        >
          2티어
        </button>
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          멀록
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[곰팡이술사 플러글]</h4>
          <img src="/static/images/heros/flurgl/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/flurgl/power.png" alt="" style="width: 4rem" />


            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 내가 하수인을 판 후에, <br>밥의 선술집에 무작위 멀록을 추가합니다. <br>  </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>꾸준히 좋았던 플러글 입니다.</p>
            <p>하수인을 팔면 멀록이 선술집에 나오기 때문에 황금카드를 발견 하기 좋습니다.</p>
            <p>기본적으로 황금카드로 5렙 발견을 보며 거기서 브란을 뽑으면 우승 확률이 굉장히 높습니다.. </p>
            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/flurgl/info/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/flurgl/info/two.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/flurgl/info/thr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/flurgl/info/four.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/flurgl/info/five.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/flurgl/info/six.png" alt=""  class="infoimg"/>
            </div>


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 레벨업 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 후 팔기 + 하수인 구매 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매 </p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매 + 하수인 구매 (황금카드 되는 카드 나온다면 레벨업 후 킵) </p>
          <p> ▶ 7턴 (9마나) : 레벨업 후 황금카드로 5렙발견 (6턴에 레벨업 했다면 바로 황금카드로 5렙발견) </p>
          <br>
          <p> 정상 마나 커브를 밟으며 황금 카드가 풀린다면 선술집을 얼리며 5렙 발견을 기다려줍니다.  </p>
          <p> 5렙 발견에선 1순위가 브란, 2순위가 SI암살지느러미 입니다. </p>
          <p> 브란을 뽑는다면 우승에 굉장히 근접해지고 망꾼을 통해 계속 멀록들에게 버프를 줍시다. </p>

        </div>
      </div>
    </section>

{% endblock %}