{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-warning btn-rounded"
          data-mdb-ripple-color="dark"
        >
          2티어
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          나가
        </button>
        <button
          type="button"
          class="btn btn-info btn-rounded"
          data-mdb-ripple-color="dark"
        >
          기계
        </button>
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          멀록
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[타락한 조지]</h4>
          <img src="/static/images/heros/george/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/george/power.png" alt="" style="width: 4rem" />


            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 하수인에게 천상의 보호막을 부여합니다 <br> </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>유일하게 자력으로 천상의 보호막을 부여할 수 있는 영웅입니다.</p>
            <p>천상의 보호막을 활용한 기계 + 가멧이나 멀록과도 잘어울리며 현재 나가에도 활용 가능합니다.</p>

            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 기계 + 가시멧돼지]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/george/info/mone.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mtwo.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mthr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mfour.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mfive.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/msix.png" alt=""  class="infoimg"/>
            </div>
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 멀록]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/flurgl/info/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/flurgl/info/two.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/flurgl/info/thr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/flurgl/info/four.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/flurgl/info/five.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/flurgl/info/six.png" alt=""  class="infoimg"/>
            </div>
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 나가]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/ezshra/info/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/two.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/thr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/our.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/fou.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/s.png" alt=""  class="infoimg"/>
            </div>


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 레벨업</p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 영웅능력 or 하수인구매 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매 </p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 7턴 (9마나) : 레벨업 or  하수인 구매 </p>
          <br>
          <p> 기계 + 가멧 덱으로 간다면 3레벨 단계에서 핵심 기물을 찾아주고 레벨업 합니다.  </p>
          <p> 체력과 필드 상황에 따라 5발 혹은 6발을 추천합니다. </p>

        </div>
      </div>
    </section>

{% endblock %}