{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          3티어
        </button>
        <button
          type="button"
          class="btn btn-danger btn-rounded"
          data-mdb-ripple-color="dark"
        >
          나가
        </button>
          <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
         야수
        </button>



      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[잔다이스 바로브]</h4>
          <img src="/static/images/heros/jandice/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/jandice/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 아군 일반 하수인을 밥의 선술집에 있는 무작위 하수인과 교체합니다. </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>야수토큰이 정말 꼭 필요한 영웅입니다.</p>
            <p>처음에 야수토큰을 구매하고 내고 길고양이를 다시 영웅능력으로 선술집으로 올린후 다시 구매하는 방식입니다.</p>
            <p>야수토큰과 영웅능력의 활용으로 황금카드를 초반에 쉽게 볼 수 있습니다.</p>
            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 야수토큰]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/jandice/info/one.png" alt=""  class="infoimg"/>

            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 골드린]</h5>
            <divstyle="margin-bottom: 2rem;">
            <img src="/static/images/type/beast/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/beast/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/hsix.png" alt=""  class="infoimg"/>
            </div>
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 나가]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/naga/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/naga/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/six.png" alt=""  class="infoimg"/>
            </div>




          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 (야수토큰) </p>
          <p> ▶ 2턴 (4마나) : 하수인 구매(야수토큰) </p>
          <p> ▶ 3턴 (5마나) : 레벨업 + 하수인 구매(야수토큰) + 처음부터 야수토큰이 나왔다면 이 타이밍에 3렙발견 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매(야수토큰) </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매 (야수토큰) </p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매</p>
          <p> ▶ 7턴 (9마나) : 레벨업 + 하수인 구매  </p>
          <p> ▶ 8턴 (10마나) : 레벨업 + 하수인 구매 (야수토큰) 6렙발견  </p>



          <p> 처음 부터 야수토큰이 나와준다면 빠르게 3렙 발견을 볼 수 있고 이후 발견에서 5렙 발견으로 엄마곰을 찾거나  </p>
          <p> 공격적으로 레벨업을 해서 6렙에 아티사 or 올고조아를 찾을 수 있습니다.  </p>





        </div>
      </div>
    </section>

{% endblock %}