{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          3티어
        </button>
        <button
          type="button"
          class="btn btn-dark btn-rounded"
          data-mdb-ripple-color="dark"
        >
          악마
        </button>



      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[군주 자락서스]</h4>
          <img src="/static/images/heros/jaraxus/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/jaraxus/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 내 악마들에게 +1/+1 을 부여합니다 .</div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>악마 종족 특화 영웅입니다.</p>
            <p>명인 악마로 초반을 넘기고 우르즐과 박쥐로 스텟을 올려줍시다.</p>
            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 명인악마]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/demon/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/demon/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/six.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 순수악마]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/demon/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/demon/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/hsix.png" alt=""  class="infoimg"/>
            </div>


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 레벨업 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매 </p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매</p>
          <p> ▶ 7턴 (9마나) : 레벨업 + 하수인 구매 </p>



          <p> 초반에 명인을 찾으면 좋습니다. </p>
          <p> 만약 페어가 풀려 황금카드를 볼 수 있다면 5렙 발견을 통해 우르즐을 뽑아줍시다. </p>
          <p> 후 박쥐와 우르즐로 스텟을 계속 올려줍시다. </p>


        </div>
      </div>
    </section>

{% endblock %}