{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-info btn-rounded"
          data-mdb-ripple-color="dark"
        >
          4티어
        </button>

        <button
          type="button"
          class="btn btn-danger btn-rounded"
          data-mdb-ripple-color="dark"
        >
          나가
        </button>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[리치 바즈하이알]</h4>
            <img src="/static/images/heros/lich/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/lich/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 피해를 2 입습니다 황금 동전을 내 손으로 가져옵니다.</div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>동전을 확정적으로 얻을 수 있기 때문에 어스름 투사, 아티사와 잘 어울립니다.</p>
            <p>피관리가 중요한 영웅입니다.</p>


            <hr />
             <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/naga/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/naga/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/six.png" alt=""  class="infoimg"/>
            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 + 영웅능력 사용 </p>
          <p> ▶ 2턴 (4마나) : 하수인 구매 + 영웅능력 사용 + 동전 사용x2 + 하수인 구매 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 영웅능력 사용 + 동전 사용 + 하수인 구매 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 + 영웅 능력 사용 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 레벨업 + 동전 사용 + 영웅능력 사용 </p>
             <p> ▶ 6턴 (8마나) : 레벨업 + 영웅능력 사용 + 동전사용x2 + 하수인 구매 </p>
             <p> ▶ 7턴 (9마나) : 레벨업  </p>

          <p>  1렙 롤을 하고 만약 황금카드를 볼 수 있다면 빠르게 5렙을 찍고 6렙에서 올고조아, 아티사를 찾아줍니다.  </p>
          <p>마나커브와 하수인 구매, 영능 사용은 유동적으로 변할 수 있습니다. </p>

        </div>
      </div>
    </section>

{% endblock %}