{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          3티어
        </button>
        <button
          type="button"
          class="btn btn-info btn-rounded"
          data-mdb-ripple-color="dark"
        >
          기계
        </button>




      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[이니 스톰코일]</h4>
          <img src="/static/images/heros/lnistormcoil/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/lnistormcoil/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 아군 하수인이 12이 죽은 후에 무작위 기계를 얻습니다. </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>복수 개념의 기계 영웅입니다.</p>
            <p>기계를 많이 얻기위해 소환물이 많은 하수인을 초반에 기용할 수 있습니다.</p>

            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 영능 채우기용]</h5>
           <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/lnistormcoil/info/one.png" alt=""  class="infoimg"/>
              <img src="/static/images/heros/lnistormcoil/info/two.png" alt=""  class="infoimg"/>
               <img src="/static/images/heros/lnistormcoil/info/thr.png" alt=""  class="infoimg"/>
               <img src="/static/images/heros/lnistormcoil/info/four.png" alt=""  class="infoimg"/>
               <img src="/static/images/heros/lnistormcoil/info/five.png" alt=""  class="infoimg"/>

            </div>
             <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 기계 + 가시멧돼지]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/george/info/mone.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mtwo.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mthr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mfour.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mfive.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/msix.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 오메가]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/mech/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/mech/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hsix.png" alt=""  class="infoimg"/>
            </div>




          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매  </p>
          <p> ▶ 2턴 (4마나) : 레벨업 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 영웅능력 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매  </p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매</p>
          <p> ▶ 7턴 (9마나) : 레벨업 + 하수인 구매  </p>




          <p> 초반엔 영능 채우기용 하수인들로 최대한 많은 기계들을 모아줍니다.  </p>
          <p> 반사 로봇으로도 갈 수 있지만 반사 로봇을 빠르게 키울 수단이 부족해서 오메가를 추천합니다.  </p>
          <p> 상황에 따라 레벨업 하수인 구매가 달라집니다.  </p>





        </div>
      </div>
    </section>

{% endblock %}