{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-warning btn-rounded"
          data-mdb-ripple-color="dark"
        >
          2티어
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          나가
        </button>
        <button
          type="button"
          class="btn btn-dark btn-rounded"
          data-mdb-ripple-color="dark"
        >
          혼합
        </button>


      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[마이에브 섀도송]</h4>
          <img src="/static/images/heros/maiev/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/maiev/power.png" alt="" style="width: 4rem" />


            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 밥의 선술집에 있는 하수인을 휴면 상태로 만듭니다, <br> 3턴 후에 그 하수인을 고용하고 +2/+2 를 부여합니다. <br>  </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>초반에 황금카드 보기 용이한 영웅 입니다.</p>
            <p>선상 도박꾼에 영웅 능력을 사용하면 골드 이득을 볼 수 있습니다.</p>
            <p> 발견에 따라 갈 수 있는 경우가 여러가지 있지만 현재는 나가 쪽으로 추천드립니다.</p>


            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인]</h5>
            <div style="margin-bottom: 2rem;">
           <img src="/static/images/heros/tess/info/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/two.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/thr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/our.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/f.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/s.png" alt=""  class="infoimg"/>
            </div>


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 하수인 구매 + 영능 사용 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 영능 사용 </p>
          <p> ▶ 4턴 (6마나) : 레벨업 + 하수인 구매 + 영능 사용</p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 영능 사용 </p>
          <p> ▶ 6턴 (8마나) : 레벨업 + 영능 사용 </p>
          <p> ▶ 7턴 (9마나) : 하수인 구매 or 레벨업 </p>

          <br>
          <p> 라팜 커브 운영 하며 영능을 이용해서 황금카드를 만듭니다.  </p>
          <p> 기본적으로 해적과 기계가 살았을 때 6레벨 발견 하는 것이 좋습니다.   </p>
          <p> 현재는 나가 종족이 좋기때문에 나가 쪽으로 가는 것이 좋습니다. </p>
          <p> 후반부에는 3턴이 굉장히 긴 턴이라 영웅능력을 거의 사용하지 않습니다.   </p>

        </div>
      </div>
    </section>

{% endblock %}