{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-info btn-rounded"
          data-mdb-ripple-color="dark"
        >
          4티어
        </button>

        <button
          type="button"
          class="btn btn-info btn-rounded"
          data-mdb-ripple-color="dark"
        >
          기계
        </button>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[밀리피센트 마나스톰]</h4>
            <img src="/static/images/heros/millificent/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/millificent/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 밥의 선술집에 있는 기계들이 +1/+1 을 얻습니다.</div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>버프형 영웅입니다. 버프형 영웅은 우승하긴 어렵고 순방을 목표로 하는 경우가 많습니다.</p>
            <p>기계 종족을 모아줍니다.</p>


            <hr />
              <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 반사기계]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/mech/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/mech/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/six.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 기계 + 가시멧돼지]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/george/info/mone.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mtwo.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mthr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mfour.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mfive.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/msix.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 오메가]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/mech/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/mech/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hsix.png" alt=""  class="infoimg"/>
            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 레벨업 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매 </p>
             <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매 </p>
             <p> ▶ 7턴 (9마나) : 레벨업 + 하수인 구매 </p>

          <p>  기계 종족 위주로 초반부터 구매해줍니다.  </p>
          <p> 황금카드가 풀려 6발을 볼 수 있다면 오메가를 노려봅니다. </p>

        </div>
      </div>
    </section>

{% endblock %}