{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          3티어
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          나가
        </button>



      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[노즈도르무]</h4>
          <img src="/static/images/heros/nozdormu/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/nozdormu/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 매 턴마다 첫 새로고침 비용이 (0)이 됩니다 . </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>매 턴 공짜 리롤을 한번씩 할 수 있습니다.</p>
            <p>하수인을 찾기 용이합니다.</p>
            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인]</h5>
            <div style="margin-bottom: 2rem;">
           <img src="/static/images/heros/tess/info/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/two.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/thr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/our.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/f.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/s.png" alt=""  class="infoimg"/>
            </div>


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 레벨업 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매 </p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매</p>
          <p> ▶ 7턴 (9마나) : 레벨업 + 하수인 구매  </p>



          <p>매턴 리롤이 공짜이므로 레벨업 후 리롤 해서 핵심 하수인을 찾아줍니다. </p>




        </div>
      </div>
    </section>

{% endblock %}