{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          3티어
        </button>
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          야수
        </button>



      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[느조스]</h4>
          <img src="/static/images/heros/nzoth/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/nzoth/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 내 모든 죽음의 메아리 능력을 얻는 2/2 물고기를 소환하고 시작합니다. </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>죽음의 메아리 기반의 영웅입니다.</p>
            <p>죽음의 메아리르 활용하기 쉬운 야수 종족이 좋은 선택지 입니다.</p>
            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 개구리]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/beast/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/beast/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/six.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 골드린]</h5>
            <divstyle="margin-bottom: 2rem;">
            <img src="/static/images/type/beast/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/beast/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/hsix.png" alt=""  class="infoimg"/>
            </div>


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 레벨업 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매 </p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매</p>
          <p> ▶ 7턴 (9마나) : 레벨업 + 하수인 구매  </p>



          <p>2레벨에서 개구리와 하수도쥐 등이 잘나온다면 개구리로 가고  </p>
          <p>페어가 잘풀려서 쉽게 6발을 볼 수 있다면 골드린으로 가는것도 괜찮습니다.</p>




        </div>
      </div>
    </section>

{% endblock %}