{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-info btn-rounded"
          data-mdb-ripple-color="dark"
        >
          4티어
        </button>
        <button
          type="button"
          class="btn btn-info btn-rounded"
          data-mdb-ripple-color="dark"
        >
          기계
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[오닉시아]</h4>
          <img src="/static/images/heros/onyxia/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/onyxia/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 복수(4) [2/1] 새끼용을 소환합니다  <br> 그 새끼용이 즉시 공격합니다.</div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>기계 보행전차와 잘어울리는 영웅입니다</p>
            <p>기계 보행전차를 빠르게 얻고 이후 오메가로 가는것이 좋습니다.</p>
            <hr />
             <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 기계보행전차]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/onyxia/info/one.png" alt=""  class="infoimg"/>

            </div>
           <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 오메가]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/mech/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/mech/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hsix.png" alt=""  class="infoimg"/>
            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 레벨업 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 영웅능력 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 +  하수인 구매 </p>
             <p> ▶ 6턴 (8마나) : 하수인 구매 +  하수인 구매 </p>
             <p> ▶ 7턴 (9마나) : 레벨업 +  하수인 구매 </p>

          <p>  정상 마나커브로 운영하며 선술집 3레벨에서 핵심 하수인을 어느정도 찾고  </p>
          <p> 선술집 4단계에서 기계보행전차를 찾아 순방을 기록하는 것이 좋습니다. </p>

        </div>
      </div>
    </section>

{% endblock %}