{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          5티어
        </button>
        <button
          type="button"
          class="btn btn-dark btn-rounded"
          data-mdb-ripple-color="dark"
        >
          혼합
        </button>



      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[패치워크]</h4>
          <img src="/static/images/heros/patchwerk/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/patchwerk/power.png" alt="" style="width: 4rem" />

            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 시작하는 생명력이 40에서 55로 증가합니다 . </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>체력이 15 증가한 상태에서 시작하는 영웅입니다.</p>
            <p>초반부터 레벨업을 빠르게 하며 6렙 발견을 보는 운영 방식으로 나가를 가거나.</p>
            <p>순방을 목적으로 기계 가멧을 가는 방법이 있습니다.</p>
            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 기계 + 가시멧돼지]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/george/info/mone.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mtwo.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mthr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mfour.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mfive.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/msix.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/naga/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/naga/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/six.png" alt=""  class="infoimg"/>
            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 레벨업</p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매 </p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 7턴 (9마나) : 레벨업 + 하수인 구매  </p>



          <p> 만약 페어가 빨리 풀려 빠르게 6렙 발견을 본다면 정상 마나커브를 타다가 6턴부터 레벨업을 할 수도 있습니다. </p>
            <p> 기계 가멧 조합으로 순방을 노려보는 것도 좋습니다.</p>




        </div>
      </div>
    </section>

{% endblock %}