{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-danger btn-rounded"
          data-mdb-ripple-color="dark"
        >
          1티어
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          나가
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[대악당 라팜]</h4>
          <img src="/static/images/heros/rafam/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/rafam/power.png" alt="" style="width: 4rem" />


            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 다음 전투때, <br> 처음으로 죽인 하수인을 내손으로 가져옵니다. <br></div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>라팜 커브의 주인공인 라팜입니다.</p>
            <p>기본적으로 상대편의 하수인을 가져오며 토큰 하수인을 가져오면 이득을 보기 좋습니다.</p>
            <p>현재는 나가 종족을 추천합니다. </p>
            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/ezshra/info/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/two.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/thr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/our.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/fou.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/ezshra/info/s.png" alt=""  class="infoimg"/>
            </div>


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 하수인 구매 + 영웅능력</p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 영웅능력 </p>
          <p> ▶ 4턴 (6마나) : 레벨업 + 하수인 구매 + 영웅능력 </p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 영웅능력 </p>
          <p> ▶ 6턴 (8마나) : 레벨업 or 나가 종족 하수인 구매 </p>
          <p> ▶ 7턴 (9마나) : 레벨업 or 나가 종족 하수인 구매 </p>
          <br>
          <p> 라팜 커브로 영웅능력을 계속 써주며 황금카드를 볼 수 있으면  </p>
          <p> 체력과 필드 상황에 따라 5발 혹은 6발을 추천합니다. </p>

        </div>
      </div>
    </section>

{% endblock %}