{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">
        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          3티어
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          나가
        </button>

          <button
          type="button"
          class="btn btn-info btn-rounded"
          data-mdb-ripple-color="dark"
        >
          기계
        </button>
          <button
          type="button"
          class="btn btn-dark btn-rounded"
          data-mdb-ripple-color="dark"
        >
          해적
        </button>


      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[리노잭슨]</h4>
          <img src="/static/images/heros/reno/hero.png" alt="" style="width: 4rem" />
            <img src="/static/images/heros/reno/power.png" alt="" style="width: 4rem" />


            <div>
              <div style="font-size: 15px; margin-top: 2rem; ">[영웅 능력] <br> 아군 하수인을 황금 하수인으로 만듭니다.(게임당 1회) <br>  </div>


            </div>

          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p>아무 하수인이나 황금으로 만들 수 있습니다 (선술집 목록 하수인X).</p>

            <p> 게임 판도를 바꿀 수 있는 하수인에게 쓰는 것이 가장 좋습니다.</p>
            <p> 추천 하수인으로는 나가의 아티사, 올고조아 해적의 엘리자, 기계의 오메가가 있습니다.</p>


            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 나가]</h5>
            <div style="margin-bottom: 2rem;">
           <img src="/static/images/heros/tess/info/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/two.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/thr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/our.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/f.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/tess/info/s.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 기계]</h5>
            <div style="margin-bottom: 2rem;">
           <img src="/static/images/heros/galakrond/info/mone.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/galakrond/info/mtwo.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/galakrond/info/mthr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/galakrond/info/mfour.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/galakrond/info/mfive.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/galakrond/info/msix.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 해적]</h5>
          <img src="/static/images/heros/galakrond/info/pone.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/galakrond/info/ptwo.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/galakrond/info/pthr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/galakrond/info/pfour.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/galakrond/info/pfive.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/galakrond/info/psix.png" alt="" s class="infoimg"/>



          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[운영법]</h5>
          <p> ▶ 1턴 (3마나) : 하수인 구매 </p>
          <p> ▶ 2턴 (4마나) : 레벨업 </p>
          <p> ▶ 3턴 (5마나) : 하수인 구매 + 리롤 or 하수인 구매 </p>
          <p> ▶ 4턴 (6마나) : 하수인 구매 + 하수인 구매</p>
          <p> ▶ 5턴 (7마나) : 레벨업 + 하수인 구매</p>
          <p> ▶ 6턴 (8마나) : 하수인 구매 + 하수인 구매 </p>
          <p> ▶ 7턴 (9마나) : 레벨업 + 하수인 구매 </p>

          <br>
          <p> 6단계 발견 하수인에 따라 가는 종족이 바뀝니다.  </p>

          <p>무리하게 레벨업을 하면 체력관리가 안되어 빨리 죽을 가능성이 높습니다. </p>
            <p> 자칫 하면 6렙 발견에 망하거나 필드를 제대로 못짜서 골찌할 위험도 큰 영웅입니다. </p>


        </div>
      </div>
    </section>

{% endblock %}