{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">
          <img src="/static/images/typelist.png" class="img-fluid" alt="..." />

      </div>
      <div class="buttoncollapse" style="margin-bottom: 1rem">

        <button
          type="button"
          class="btn btn-warning btn-rounded"
          data-mdb-ripple-color="dark"
        >
          가시멧돼지
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[가시멧돼지]</h4>
          <img src="/static/images/type/boar.png" class="smallimg" alt="가멧" />


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p> 가시멧돼지 일명 가멧은 크게 순수 가멧, 쏜커스 둘로 나뉩니다.</p>
            <p> 기본적인 포텐은 쏜커스가 더 높습니다. 하지만 필요로하는 하수인이 많아 완성시키기 어렵습니다.</p>


            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 순수가멧]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/boar/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/boar/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/six.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 쏜커스]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/boar/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/boar/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/boar/hsix.png" alt=""  class="infoimg"/>
            </div>

        </div>
      </div>
     <div class="buttoncollapse" style="margin-bottom: 1rem">

        <button
          type="button"
          class="btn btn-info btn-rounded"
          data-mdb-ripple-color="dark"
        >
          기계
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[기계]</h4>
          <img src="/static/images/type/mech.png" class="smallimg" alt="기계" />


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p> 순방의 대명사 기계 종족 입니다.</p>
            <p> 반사 기반으로 반사의 능력치를 그대화 하는 기계와 가멧과 기계를 활용한 가멧기계, 오메가를 중심으로 한 오메가 덱이 있습니다.</p>


            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 반사기계]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/mech/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/mech/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/six.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 기계 + 가시멧돼지]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/heros/george/info/mone.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mtwo.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mthr.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mfour.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/mfive.png" alt=""  class="infoimg"/>
            <img src="/static/images/heros/george/info/msix.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 오메가]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/mech/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/mech/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mech/hsix.png" alt=""  class="infoimg"/>
            </div>

        </div>
      </div>

    <div class="buttoncollapse" style="margin-bottom: 1rem">

        <button
          type="button"
          class="btn btn-dark btn-rounded"
          data-mdb-ripple-color="dark"
        >
          악마
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[악마]</h4>
          <img src="/static/images/type/demon.png" class="smallimg" alt="악마" />


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p> 기계와 함께 순방하기 좋은 종족 입니다.</p>
            <p> 독성에 취한한 종족입니다.</p>
            <p> 초반부터 명인을 이용한 명인악마와 우르즐 박쥐를 중심으로한 순수 악마가 있습니다.</p>
            <p> 보통 초반에 명인을 통해 빌드업 한 후 후반부엔 순수 악마로 넘어갑니다.</p>


            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 명인악마]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/demon/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/demon/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/six.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 순수악마]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/demon/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/demon/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/demon/hsix.png" alt=""  class="infoimg"/>
            </div>

        </div>
      </div>

    <div class="buttoncollapse" style="margin-bottom: 1rem">

        <button
          type="button"
          class="btn btn-success btn-rounded"
          data-mdb-ripple-color="dark"
        >
          야수
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[야수]</h4>
          <img src="/static/images/type/beast.png" class="smallimg" alt="야수" />


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p> 버프할 필요 없이 기물 그 자체로 힘이 있는 종족입니다.</p>
            <p> 저레벨 구간 하수인과 리븐데어를 중심으로 한 개구리 야수 와 골드린, 앵무, 히드라, 리븐데어를 중심으로한 골드린 덱이 있습니다.</p>



            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 개구리]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/beast/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/beast/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/six.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 골드린]</h5>
            <divstyle="margin-bottom: 2rem;">
            <img src="/static/images/type/beast/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/beast/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/beast/hsix.png" alt=""  class="infoimg"/>
            </div>

        </div>
      </div>
    <div class="buttoncollapse" style="margin-bottom: 1rem">

        <button
          type="button"
          class="btn btn-danger btn-rounded"
          data-mdb-ripple-color="dark"
        >
          용족
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[용족]</h4>
          <img src="/static/images/type/dragon.png" class="smallimg" alt="야수" />


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p> 용족은 크게 타렉고사를 중심으로한 타렉과 칼렉고사를 중심으로한 칼렉 용족으로 나뉩니다.</p>
            <p> 나디나를 통한 천상의 보호막 수급과 프레스톨 화염혈족을 통해 상대 천상의 보호막을 무효화 할 수 있습니다.</p>



            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 타렉고사]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/dragon/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/dragon/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/dragon/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/dragon/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/dragon/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/dragon/six.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 칼렉고사]</h5>
            <divstyle="margin-bottom: 2rem;">
            <img src="/static/images/type/dragon/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/dragon/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/dragon/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/dragon/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/dragon/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/dragon/hsix.png" alt=""  class="infoimg"/>
            </div>

        </div>
      </div>
     <div class="buttoncollapse" style="margin-bottom: 1rem">

        <button
          type="button"
          class="btn btn-primary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          멀록
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[멀록]</h4>
          <img src="/static/images/type/marlok.png" class="smallimg" alt="야수" />


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p> 멀록은 브란이랑 같이 쓸 때 위력이 2배가 됩니다.</p>
            <p> 멀록은 버프형 하수인이 많기 때문에 계속해서 사고 내고 팔고를 반복해야 합니다.</p>




            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/marlok/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/marlok/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/marlok/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/marlok/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/marlok/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/marlok/six.png" alt=""  class="infoimg"/>
            </div>


        </div>
      </div>
    <div class="buttoncollapse" style="margin-bottom: 1rem">

        <button
          type="button"
          class="btn btn-info btn-rounded"
          data-mdb-ripple-color="dark"
        >
          정령
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[정령]</h4>
          <img src="/static/images/type/element.png" class="smallimg" alt="야수" />


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p> 현재 주력으로 사용 할만한 정령은 노미 정령입니다.</p>
            <p> 첫 5발에서 빠르게 노미가 나와준다면 가볼만 합니다.</p>
            <p> 재활용 망령으로 새로고침 비용을 줄인 후 계속해서 정령을 찾아줍니다.</p>




            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/element/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/element/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/element/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/element/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/element/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/element/six.png" alt=""  class="infoimg"/>
            </div>


        </div>
      </div>
    <div class="buttoncollapse" style="margin-bottom: 1rem">

        <button
          type="button"
          class="btn btn-dark btn-rounded"
          data-mdb-ripple-color="dark"
        >
          해적
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[해적]</h4>
          <img src="/static/images/type/pirate.png" class="smallimg" alt="야수" />


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p> 해적은 엘리자와 뱃사람을 활용한 해조디아와 들창코,토니를 이용한 들창코 덱으로 나뉩니다.</p>
            <p> 나가 종족 출현 후 서버 렉이 증가해 현재는 들창코 덱을 하기 어렵습니다.</p>



            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 해조디아]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/pirate/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/pirate/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/pirate/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/pirate/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/pirate/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/pirate/six.png" alt=""  class="infoimg"/>
            </div>
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인 - 들창코]</h5>
            <divstyle="margin-bottom: 2rem;">
            <img src="/static/images/type/pirate/hone.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/pirate/htwo.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/pirate/hthr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/pirate/hfour.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/pirate/hfive.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/pirate/hsix.png" alt=""  class="infoimg"/>
            </div>

        </div>
      </div>
    <div class="buttoncollapse" style="margin-bottom: 1rem">

        <button
          type="button"
          class="btn btn-secondary btn-rounded"
          data-mdb-ripple-color="dark"
        >
          나가
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[나가]</h4>
          <img src="/static/images/type/naga.png" class="smallimg" alt="야수" />


          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p> 현재 사기적인 성능을 보여주고 있는 종족입니다.</p>
            <p> 주문제작을 적극 활용하며 계속해서 주문제작 하수인들을 사고 팔아주는 것이 중요합니다.</p>




            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/naga/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/naga/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/naga/six.png" alt=""  class="infoimg"/>
            </div>


        </div>
      </div>
    <div class="buttoncollapse" style="margin-bottom: 1rem">

        <button
          type="button"
          class="btn btn-dark btn-rounded"
          data-mdb-ripple-color="dark"
        >
          혼합
        </button>

      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 style="font-family: 'IBM Plex Sans KR', sans-serif">[혼합]</h4>



          <hr />
          <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[소개]</h5>
            <p> 다양한 종족의 혼합입니다.</p>
            <p> 빛송이 핵심이며 다른 기물들도 잘 나와줘야 가볼만 합니다.</p>




            <hr />
            <h5 style="font-family: 'IBM Plex Sans KR', sans-serif">[핵심하수인]</h5>
            <div style="margin-bottom: 2rem;">
            <img src="/static/images/type/mix/one.png" alt=""  class="infoimg"/>
            <img src="/static/images/type/mix/two.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mix/thr.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mix/four.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mix/five.png" alt=""  class="infoimg"/>
                <img src="/static/images/type/mix/six.png" alt=""  class="infoimg"/>
            </div>

            </div>

        </div>
      </div>
    </section>

{% endblock %}