{% extends 'base.html' %}

{% block content %}

 <section class="container">
      <div class="dtierlist">
        <img src="/static/images/tierlist.png" class="img-fluid" alt="..." />
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <div class="corebox">
            <span class="tierbutton">
              <button
                type="button"
                class="btn btn-danger btn-rounded"
                data-mdb-ripple-color="dark"
              >
                1티어
              </button>
            </span>
            <div class="herolist">
              <img
                src="/static/images/heros/lnistormcoil/hero.png"
                class="heroimg"
                alt="스톰코일"
              />
              <img
                src="/static/images/heros/lnistormcoil/power.png"
                alt="영웅능력"
                class="heroimg"
              />
            </div>

            <span class="card-text heroname">이니 스톰코일</span>
            <span class="type">
              <img src="/static/images/type/mech.png" class="smallimg" alt="기계" />
            </span>

            <span class="corelist">
              <span class="hasuin">
                <img
                  src="/static/images/heros/lnistormcoil/kanbu.png"
                  class="smallimg"
                  alt="깐부"
                />
                <img
                  src="/static/images/heros/lnistormcoil/coreone.png"
                  class="smallimg"
                  alt="추천1"
                />
                <img
                  src="/static/images/heros/lnistormcoil/coretwo.png"
                  class="smallimg"
                  alt="추천2"
                />
                <img
                  src="/static/images/heros/lnistormcoil/corethr.png"
                  class="smallimg"
                  alt="추천3"
                />
                <img
                  src="/static/images/heros/lnistormcoil/corefour.png"
                  class="smallimg"
                  alt="추천4"
                />
                <img
                  src="/static/images/heros/lnistormcoil/corefive.png"
                  class="smallimg"
                  alt="추천5"
                />
              </span>
              <span class="morebutton">
                <button type="button" class="btn btn-dark">자세히보기</button>
              </span>
            </span>
          </div>
        </div>
      </div>
    </section>

{% endblock %}