{% extends 'base.html' %}

{% block content %}

<section class="container">
      <div class="dtierlist">
        <img src="/static/images/tierlist.png" class="img-fluid" alt="..." />
      </div>
      <div class="onetier">
        <div class="onebadge">
          <span class="badge bg-danger">1티어</span>
          <span class="badge bg-info">기계</span>
        </div>
        <table class="table table-hover">
          <tr class="table-danger">
            <th scope="row">
              <img
                src="/static/images/heros/lnistormcoil/hero.png"
                class="img-fluid"
                alt="스톰코일"
              />
              <div>이니 스톰코일</div>
            </th>
            <td>

                <img
                  src="/static/images/heros/lnistormcoil/power.png"
                  class="img-fluid"
                  alt="영웅능력"
                />
            </td>



            </td>
            <td class="kanbu">
              <img
                src="/static/images/heros/lnistormcoil/kanbu.png"
                class="img-fluid"
                alt="깐부"
              />

            </td>
            <td>
              <img
                src="/static/images/heros/lnistormcoil/coreone.png"
                class="img-fluid"
                alt="깐부"
              />

            </td>
            <td>
              <img
                src="/static/images/heros/lnistormcoil/coretwo.png"
                class="img-fluid"
                alt="깐부"
              />

            </td>
            <td>
              <img
                src="/static/images/heros/lnistormcoil/corethr.png"
                class="img-fluid"
                alt="깐부"
              />

            </td>
            <td>
              <img
                src="/static/images/heros/lnistormcoil/corefour.png"
                class="img-fluid"
                alt="깐부"
              />

            </td>
            <td>
              <img
                src="/static/images/heros/lnistormcoil/corefive.png"
                class="img-fluid"
                alt="깐부"
              />

            </td>
          </div>


            <td class="more">

              <button type="button" class="btn btn-dark mt-5">자세히보기</button>
            </td>
          </tr>
        </table>
      </div>
    </section>

{% endblock %}