@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

* {
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.float-wrap {
  font-size: 1rem;
  background-color: var(--color--yellow);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.maintitle {
  overflow: hidden;
}

:root {
  --color--white: #ffffff;
  --color--dark: #000000;
  --color--yellow: #dbbd41;
  --color--green1: #89b150;
  --color--green2: #409c6a;
  --color--green3: #008278;
  --color--darkgreen: #0f6572;
  --color--darkgreen2: #2f4858;
  --color--lblue: #20e5fe;
  --color--lbule2: #18efea;
  --color--lgreen: #56f7cc;
  --color--lgreen2: #8dfbaa;
  --color--lyellow: #c3fc89;
  --color--lyellow2: #f9f871;
}

.navbar-brand {
  padding-left: 25rem;
}

.mainlogo.webp {
  margin-right: auto;
  margin-left: auto;
}

.branlogo {
  margin-right: -25rem;
}

.foottext {
  margin-left: 15rem;
  margin-right: 15rem;
}
